<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.storage.mapper.PlanMapper">
    <select id="selectPlanBranch" resultType="PlanVo">
        select id,name from t_branch where id!=1
    </select>
    <select id="selectGoodsList" resultType="PlanBranchVo">
        select * from t_order a inner join t_orderdetail b on a.id=b.order_id inner join t_user c on a.user_id=c.id where a.branch_id=#{branchId} and a.time &gt;=#{dateBegin} and a.time &lt;= #{dateEnd}
    </select>
    <update id="deleteStockNumMin">
        update t_stock set num_min=0
    </update>
    <update id="deleteShopNumMin">
        update t_shop set num_min=0
    </update>
    <update id="updateStockNumMin">
        update t_stock set num_min=num_min+#{numMin} where goods_id=#{goodsId}
    </update>
    <update id="updateShopNumMin">
        update t_shop set num_min=num_min+#{numMin} where branch_id=#{branchId} and goods_id=#{goodsId}
    </update>
    <select id="selectPurchaseBranch" resultType="PurchaseVo">
        select id,name from t_branch where id!=1
    </select>
    <select id="selectPurchaseGoodsList" resultType="GoodsVo">
        select b.*,a.num_min-num as num from t_shop a inner join t_goods b on a.goods_id=b.id where a.branch_id=#{branchId} and a.num &lt; a.num_min
    </select>
    <select id="createStockPurchase" resultType="GoodsVo">
        select b.*,a.num_min-num as num from t_stock a inner join t_goods b on a.goods_id=b.id where a.num &lt; a.num_min
    </select>
</mapper>