<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.storage.mapper.ShopMapper">
    <select id="select" resultType="com.storage.entity.vo.ShopVo" >
        select a.id,b.gno,b.name,b.spec,b.unit,a.num,c.name from t_shop a inner join t_goods b on a.goods_id=b.id inner join t_producer c on b.pro_id=c.id where branch_id=#{id}
        <if test="code!=null">
            and (b.gno like '%'||#{code}||'%' or b.name like '%'||#{code}||'%')
        </if>
    </select>
    <select id="selectgoods" resultType="com.storage.entity.vo.GoodsList" >
        select id,gno,name from t_goods where 1=1
    </select>
    <select id="selectproducer" resultType="com.storage.entity.vo.Producer" >
        select id,name from t_producer where status=1
    </select>
    <select id="selectBranchId">
        select branch_id from t_user where user_id=#{userId}
    </select>
    <update id="insertShop">
        update t_shop set num=num+#{num} where branch_id=#{branchId} and goods_id=#{goodsId}
    </update>
    <update id="updateOrderStatus">
        update t_orderdetail set unchecknum=null where order_id=#{orderId}
        update t_order set status=#{status} where id=#{orderId}
    </update>
    <select id="selectCustomerByCard" resultType="com.storage.entity.vo.CustomerVo" >
        select * from t_customer where status=1 and vipcard=#{vipCard}
    </select>
    <insert id="insertOrder">
        insert into t_order(orderno,time,user_id,user_type,point,status) values(#{orderNo},sysdate,#{userId},#{userType},#{point},#{status})
    </insert>
    <select id="selectOrderIdByNo">
        select id from t_customer where status=1 and vipcard=#{vipCard}
    </select>
    <insert id="insertOrderDetail">
        insert into t_orderdetail(order_id,goods_id,num) values(#{orderId},#{goodsId},#{num})
    </insert>
    <select id="selectOrder" resultType="com.storage.entity.vo.OrderVo" >
        select * from t_order where orderno=#{orderNo}
    </select>
    <select id="selectOrderDetail" resultType="com.storage.entity.vo.OrderDetailVo" >
        select * from t_orderdetail where order_id=#{orderId}
    </select>
    <delete id="deleteOrderDetail">
        delete from t_orderdetail where order_id=#{orderId}
    </delete>
    <delete id="deleteOrder">
        delete from t_order where order_id=#{orderId}
    </delete>
    <update id="deleteShop">
        update t_shop set num=num-#{num} where branch_id=#{branchId} and goods_id=#{goodsId}
    </update>
    <update id="updatescore">
        update t_customer set score=score+(select score from t_goods where goods_id=#{goodsId})*num where id=#{customerId}
    </update>
    <update id="updatevip">
        update t_customer a set vipid=(select max(b.id) from t_vip b where b.score_min &lt;=a.score) where id=#{customerId}
    </update>
</mapper>