<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.storage.mapper.StockMapper">
    <select id="select" resultType="com.storage.entity.vo.StockVo" >
        select a.id,b.gno,b.name,b.spec,b.unit,a.num,c.name from t_stock a inner join t_goods b on a.goods_id=b.id inner join t_producer c on b.pro_id=c.id where 1=1
        <if test="code!=null">
            and (b.gno like '%'||#{code}||'%' or b.name like '%'||#{code}||'%')
        </if>
    </select>
    <select id="selectOrder" resultType="com.storage.entity.vo.OrderVo" >
        select a.id,a.time,a.orderno,b.name,a.point,a.status from t_order a inner join t_user b on a.user_id=b.id where 1=1
        <if test="orderNo!=null">
            and a.orderno like '%'||#{orderNo}||'%'
        </if>
        <if test="status!=null">
            and a.status=#{status}
        </if>
        <if test="timeStart!=null">
            and a.time &gt;= #{timeStart}
        </if>
        <if test="timeEnd!=null">
            and a.time &lt;= #{timeEnd}
        </if>
    </select>
    <select id="selectOrderDetailById" resultType="com.storage.entity.vo.OrderDetailVo" >
        select a.id,b.gno,b.name,b.spec,b.unit,a.num,a.unchecknum,c.name from t_orderdetail a inner join t_goods b on a.goods_id=b.id inner join t_producer c on b.pro_id=c.id where a.order_id=#{orderId}
    </select>
    <select id="selectgoods" resultType="com.storage.entity.vo.GoodsList" >
        select id,gno,name from t_goods where 1=1
    </select>
    <select id="selectproducer" resultType="com.storage.entity.vo.Producer" >
        select id,name from t_producer where status=1
    </select>
    <insert id="insertorder">
        insert into t_order(orderno,time,user_id,status) values(#{orderno},sysdate,#{userId},#{status})
    </insert>
    <insert id="insertorderdetail">
        insert into t_orderdetail(order_id,goods_id,num) values(#{orderId},#{goodsId},#{num})
    </insert>
    <select id="selectorderbyno" resultType="com.storage.entity.vo.OrderVo" >
        select a.id,a.time,a.orderno,b.user_name from t_order a inner join t_user b on a.user_id=b.id where orderno=#{orderno}
    </select>
    <select id="selectnum" >
        select num from t_stock where goods_id=#{goodsId}
    </select>
    <update id="insertstock">
        update t_stock set num=num+#{num} where goods_id=#{goodsId}
    </update>
    <update id="deletestock">
        update t_stock set num=num-#{num} where goods_id=#{goodsId}
    </update>
    <update id="uncheckNum">
        update t_orderdetail set unchecknum=num-#{num} where id=#{goodsId}
    </update>
    <select id="selectUncheckNum" >
        select unchecknum from t_orderdetail where order_id=#{orderId} and goods_id=#{goodsId}
    </select>
    <update id="updateOrderStatus">
        update t_orderdetail set unchecknum=null where order_id=#{orderId}
        update t_order set status=#{status} where id=#{orderId}
    </update>
</mapper>