<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaselectByUsernametis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.storage.mapper.UserMapper">
    <select id="selectByUsername" resultType="com.storage.entity.vo.UserLoginVo" >
        select a.user_id,a.code,a.name,a.role_id,b.name from t_user a inner join t_role b on a.role_id=b.id where a.code=#{username} and a.password=#{password} and a.status=1
    </select>
    <select id="selectPerm" resultType="com.storage.entity.vo.PermissionVo" >
        select b.id,b.name,b.pid from t_permission a inner join t_menu b on a.menu_id=b.id where a.role_id=#{roleId}
    </select>
    <select id="selectUser" resultType="com.storage.entity.vo.UserManageVo" >
        select * from t_user where status=1
        <if test="code!=null">
            and code like '%'||#{code}||'%' or name like '%'||#{code}||'%'
        </if>
    </select>
    <select id="detailUser" resultType="com.storage.entity.vo.UserManageVo" >
        select * from t_user where status=1 and user_id=#{userId}
    </select>
    <insert id="insertUser">
        insert into t_user(code,password,name,roleId,status) values(#{code},#{code},#{name},#{roleId},1)
    </insert>
    <update id="updateUser">
        update t_user set code=#{code},password=#{password},name=#{name},role_id=#{roleId} where id=#{userId}
    </update>
    <select id="getRole" resultType="com.storage.entity.Role" >
        select * from t_role where 1=1
    </select>
    <select id="getMenu" resultType="com.storage.entity.Menu" >
        select * from t_menu where 1=1
    </select>
    <delete id="delPerm">
        delete from t_permission where role_id=#{roleId}
    </delete>
    <insert id="addPerm">
        insert into t_permission(role_id,menu_id) values(#{roleId},#{menuId})
    </insert>
</mapper>